In [18]:
from sklearn import linear_model
import pandas as pd
import pandas_profiling
from sklearn.metrics import accuracy_score 
from sklearn import metrics
import xgboost as xgb
from xgboost import XGBClassifier, XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
import joblib
import sys
import warnings

In [19]:
dataframe1 = pd.read_csv("/home/apprenant/simplon_project/league_of_predicts/data/02_intermediate/dataclear.csv")
dataframe2 = pd.read_csv("/home/apprenant/simplon_project/league_of_predicts/data/02_intermediate/dataclear2.csv")
dataframe = pd.concat([dataframe1, dataframe2])
# add 2 new columns in the dataframe/home/apprenant/simplon_project/league_of_predicts/data/02_intermediate/dataclear.csv
dataframe['blue_kill'] = dataframe["kill_1"] + dataframe["kill_2"] + dataframe["kill_3"] + dataframe["kill_4"] + dataframe["kill_5"]
dataframe['red_kill'] = dataframe["kill_6"] + dataframe["kill_7"] + dataframe["kill_8"] + dataframe["kill_9"] + dataframe["kill_10"]
print("Le fichier a " + str(dataframe.shape[0]) + " lignes et " + str(dataframe.shape[1]) + " colonnes")

Le fichier a 310177 lignes et 177 colonnes

In [20]:
dataframe.head()

,Unnamed: 0.1,Unnamed: 0,match_ID,timeline,who_win,blue_kill_nashor,blue_kill_herald,blue_kill_fire_drake,blue_kill_air_drake,blue_kill_water_drake,...,item2_10,item3_10,item4_10,item5_10,item6_10,trinket_10,sbireskill_10,jungsbirekill_10,blue_kill,red_kill
0,0.0,0,5347224058,0,Blue,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,0
1,1.0,1,5347224058,1,Blue,0,0,0,0,0,...,2003,0,0,0,0,3340,0.0,0.0,0,0
2,2.0,2,5347224058,2,Blue,0,0,0,0,0,...,2003,0,0,0,0,3340,0.0,0.0,0,0
3,3.0,3,5347224058,3,Blue,0,0,0,0,0,...,2003,0,0,0,0,3340,3.0,0.0,1,1
4,4.0,4,5347224058,4,Blue,0,0,0,0,0,...,0,0,0,0,0,3340,4.0,0.0,2,4

In [21]:
df_train = dataframe.iloc[0:217118,:]
df_train.tail()

,Unnamed: 0.1,Unnamed: 0,match_ID,timeline,who_win,blue_kill_nashor,blue_kill_herald,blue_kill_fire_drake,blue_kill_air_drake,blue_kill_water_drake,...,item2_10,item3_10,item4_10,item5_10,item6_10,trinket_10,sbireskill_10,jungsbirekill_10,blue_kill,red_kill
187102,NaN,25,5353176726,25,Red,0,0,1,0,0,...,0,0,0,0,0,0,NaN,NaN,46,36
187103,NaN,26,5353176726,26,Red,0,0,1,0,0,...,0,0,0,0,0,0,NaN,NaN,46,41
187104,NaN,27,5353176726,27,Red,0,0,1,0,0,...,0,0,0,0,0,0,NaN,NaN,47,43
187105,NaN,28,5353176726,28,Red,0,0,1,0,0,...,0,0,0,0,0,0,NaN,NaN,48,46
187106,NaN,29,5353176726,29,Red,0,0,1,0,0,...,0,0,0,0,0,0,NaN,NaN,48,52

In [10]:
df_test = dataframe.iloc[217119:263633,:]
df_test.tail()

,Unnamed: 0.1,Unnamed: 0,match_ID,timeline,who_win,blue_kill_nashor,blue_kill_herald,blue_kill_fire_drake,blue_kill_air_drake,blue_kill_water_drake,...,item2_10,item3_10,item4_10,item5_10,item6_10,trinket_10,sbireskill_10,jungsbirekill_10,blue_kill,red_kill
233617,NaN,24,5368927009,24,Blue,0,0,0,1,0,...,0,0,0,0,0,0,NaN,NaN,52,41
233618,NaN,25,5368927009,25,Blue,0,0,0,1,0,...,0,0,0,0,0,0,NaN,NaN,54,42
233619,NaN,26,5368927009,26,Blue,0,0,0,1,0,...,0,0,0,0,0,0,NaN,NaN,55,43
233620,NaN,27,5368927009,27,Blue,0,0,0,1,0,...,0,0,0,0,0,0,NaN,NaN,56,43
233621,NaN,28,5368927009,28,Blue,0,0,0,1,0,...,0,0,0,0,0,0,NaN,NaN,60,43

In [22]:
df_valid = dataframe.iloc[263634: 310177,:]
df_valid.tail()

,Unnamed: 0.1,Unnamed: 0,match_ID,timeline,who_win,blue_kill_nashor,blue_kill_herald,blue_kill_fire_drake,blue_kill_air_drake,blue_kill_water_drake,...,item2_10,item3_10,item4_10,item5_10,item6_10,trinket_10,sbireskill_10,jungsbirekill_10,blue_kill,red_kill
280161,NaN,29,5391933820,29,Blue,0,0,1,1,1,...,0,0,0,0,0,0,NaN,NaN,54,29
280162,NaN,30,5391933820,30,Blue,0,0,1,1,1,...,0,0,0,0,0,0,NaN,NaN,55,31
280163,NaN,31,5391933820,31,Blue,0,0,1,1,1,...,0,0,0,0,0,0,NaN,NaN,57,32
280164,NaN,32,5391933820,32,Blue,0,0,1,1,1,...,0,0,0,0,0,0,NaN,NaN,60,32
280165,NaN,33,5391933820,33,Blue,0,0,1,1,1,...,0,0,0,0,0,0,NaN,NaN,66,33

In [23]:
list_of_variable = ['timeline', 'blue_destr_tower', 'red_destr_tower', 'blue_gold', 'red_gold', 'kill_1', 'death_1', 'assist_1', 'kill_2', 'death_2', 'assist_2', 'kill_3', 'death_3', 'assist_3', 'kill_4', 'death_4', 'assist_4', 'kill_5', 'death_5', 'assist_5',
'kill_6', 'death_6', 'assist_6', 'kill_7', 'death_7', 'assist_7', 'kill_8', 'death_8', 'assist_8', 'kill_9', 'death_9', 'assist_9', 'kill_10', 'death_10', 'assist_10']
X_train = df_train[list_of_variable]
X_test = df_test[list_of_variable]
X_valid = df_valid[list_of_variable]
y_valid = df_valid['who_win']
y_train = df_train['who_win']
y_test = df_test['who_win']

In [24]:
y_train = pd.get_dummies(y_train)
y_valid = pd.get_dummies(y_valid)
y_test = pd.get_dummies(y_test)

In [26]:
y_train

        Blue  Red
0          1    0
1          1    0
2          1    0
3          1    0
4          1    0
...      ...  ...
187102     0    1
187103     0    1
187104     0    1
187105     0    1
187106     0    1

[217118 rows x 2 columns]

In [27]:
dtrain = xgb.DMatrix(X_train,y_train)
param = {'boost':'linear',
         'learnin_rate':0.1,
         'max_depth': 5, 
         'objective': 'reg:linear',
          'eval_metric':'rmse'}
num_round = 100
bst = xgb.train(param, df_train, num_round)
 
preds = bst.predict(df_test)

TypeError: ('invalid cache item: DataFrame', [        Unnamed: 0.1  Unnamed: 0    match_ID  timeline who_win  \
0                0.0           0  5347224058         0    Blue
1                1.0           1  5347224058         1    Blue
2                2.0           2  5347224058         2    Blue
3                3.0           3  5347224058         3    Blue
4                4.0           4  5347224058         4    Blue
...              ...         ...         ...       ...     ...
187102           NaN          25  5353176726        25     Red
187103           NaN          26  5353176726        26     Red
187104           NaN          27  5353176726        27     Red
187105           NaN          28  5353176726        28     Red
187106           NaN          29  5353176726        29     Red

        blue_kill_nashor  blue_kill_herald  blue_kill_fire_drake  \
0                      0                 0                     0
1                      0                 0                     0
2                      0                 0                     0
3                      0                 0                     0
4                      0                 0                     0
...                  ...               ...                   ...
187102                 0                 0                     1
187103                 0                 0                     1
187104                 0                 0                     1
187105                 0                 0                     1
187106                 0                 0                     1

        blue_kill_air_drake  blue_kill_water_drake  ...  item2_10  item3_10  \
0                         0                      0  ...         0         0
1                         0                      0  ...      2003         0
2                         0                      0  ...      2003         0
3                         0                      0  ...      2003         0
4                         0                      0  ...         0         0
...                     ...                    ...  ...       ...       ...
187102                    0                      0  ...         0         0
187103                    0                      0  ...         0         0
187104                    0                      0  ...         0         0
187105                    0                      0  ...         0         0
187106                    0                      0  ...         0         0

       item4_10  item5_10  item6_10  trinket_10  sbireskill_10  \
0             0         0         0           0            0.0
1             0         0         0        3340            0.0
2             0         0         0        3340            0.0
3             0         0         0        3340            3.0
4             0         0         0        3340            4.0
...         ...       ...       ...         ...            ...
187102        0         0         0           0            NaN
187103        0         0         0           0            NaN
187104        0         0         0           0            NaN
187105        0         0         0           0            NaN
187106        0         0         0           0            NaN

        jungsbirekill_10  blue_kill  red_kill
0                    0.0          0         0
1                    0.0          0         0
2                    0.0          0         0
3                    0.0          1         1
4                    0.0          2         4
...                  ...        ...       ...
187102               NaN         46        36
187103               NaN         46        41
187104               NaN         47        43
187105               NaN         48        46
187106               NaN         48        52

[217118 rows x 177 columns]])